* {
    box-sizing: border-box;
}

.container {
    border: 5px solid #aaa;
}

.item {
    display: inline-block;
    /* width: 60px;
    height: 60px; */
    padding: 20px;
    border: 5px solid #aff;
    background-color: pink;
    font-size: 1.5em;
    text-align: center;
}

.flex-parent {
    display: flex;
    min-height: 50vh;
    /* max-height: 60vh; */
    flex-flow: row nowrap;
    /* flex-direction: row;
    flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;

    /* align-content: space-between; */
}

.flex-child {
    /* align-self: stretch; */
    /* flex-basis: 150px; 
    flex-grow: 1;
    flex-shrink: 0; */
    flex: 10 1 100px;
}

.grow {
    flex-grow: 5;
}

.shrink {
    flex-shrink: 10;
}